<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Saurav Suite">
<listeners>
        <listener class-name="com.groupten.Listener.RetryListener"/>
  </listeners>
  <test name="Test">
   <classes>   
   <class name="com.groupten.testscriptClass.AddMemberTest2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
